@import '_aboutMe.scss';
@import '_projects.scss';
@import '_footer.scss';


@font-face {
    font-family: "star";
    src: url("fonts/Starborn.woff2");
}

body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27445D;
}