#projects {
    cursor:auto;
    .block {
        height: 300px;
    }
    .button {
        cursor:auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        img {
            border-radius: 10px;
            margin-top: 15px;
            height: 250px;
            width: 275px;
            overflow: hidden;
        }
    }
}

.block:hover .description {
    opacity: 1;
}


.description {
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 233px; 
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--text);
    color: black;
    transition: 0.2s;
    width: 275px; 
    top: 15px;
    border-radius: 10px;
    p {
        text-align: center;
        cursor: default;
    }
}

#projects .description .block {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-self: center;
    transition: 0.2s;
    svg {
        fill: var(--text);
        transition: 0.2s;
    }
}

#projects .description .block:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    svg {
        fill: var(--background);
    }
}

.containerDesc {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.blueText {
    color: var(--background);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    #projects {
        grid-template-columns: 1fr;
    }
    .block {
        width: 300px;
    }
}



