#projects {
    .block {
        height: 300px;
    }
    .button {
        display: flex;
        flex-direction: column;
        img {
            border-radius: 10px;
            margin-top: 15px;
            height: 250px;
            width: 275px;
            overflow: hidden;
        }
    }
}


@media (max-width: 768px) {
    #projects {
        grid-template-columns: 1fr;
    }
    .block {
        width: 300px;
    }
}



