.video {
    display: none;
    width: 80vw;
}

#videoCheckBox {
    display: none;
}

#videoCheckBox:checked ~ #overlay {
    display: block;
}

#videoCheckBox:checked ~ .video {
    display: block;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video video {
    position: relative;
    border: 3px solid var(--text);
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#closeCheck {
    font-family: sans-serif;
    position: absolute;
    right: -8px;
    top: -8px;
    height: 30px;
    width: 30px;
    background-color: red;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    cursor: pointer;
    border-radius: 15px;
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 2;
    display: none;
}

@media (max-width: 768px)  {
    .video {
        top: 20% !important; 
    }
}