* {
  -webkit-tap-highlight-color: transparent;
}

@keyframes vibrate {
  0% {
    transform: translateX(-2px);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.work:active p {
  animation: vibrate 0.2s linear;
}

section {
  display: grid;
  margin: 30px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

p {
  font-family: "banana";
}

.block {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 80px;
  width: 300px;
  background-color: var(--btnShadow);
  border-radius: 15px;
  position: relative;
}
.block .button {
  text-decoration: none;
  bottom: 5px;
  right: 5px;
  background-color: var(--button);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: inset 0 0 0 3px var(--btnShadow);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}
.block .button svg {
  margin: 10px;
}
.block:hover-visible .button {
  bottom: 2px;
  right: 2px;
}
.block:active .button {
  bottom: 2px;
  right: 2px;
}

@media (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
  }
  .block {
    width: 95vw;
  }
}
#aboutMe {
  grid-template-columns: 1fr;
}
#aboutMe h1 {
  font-family: "star";
  font-size: 3em;
  color: var(--text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#projects .block {
  height: 300px;
}
#projects .button {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#projects .button img {
  border-radius: 10px;
  margin-top: 15px;
  height: 250px;
  width: 275px;
  overflow: hidden;
}

.block:hover .description {
  top: 0px;
  opacity: 1;
}

.description {
  opacity: 0;
  height: 248px;
  position: absolute;
  background-color: var(--text);
  color: black;
  transition: 0.2s;
  width: 275px;
  top: -120px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.description p {
  text-align: center;
}

.blueText {
  color: var(--background);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #projects {
    grid-template-columns: 1fr;
  }
  .block {
    width: 300px;
  }
}
#icons {
  grid-template-columns: 1fr 1fr 1fr;
}
#icons .block {
  width: 80px;
  height: 80px;
}
#icons .button {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  display: none;
  width: 80vw;
}

#videoCheckBox {
  display: none;
}

#videoCheckBox:checked ~ #overlay {
  display: block;
}

#videoCheckBox:checked ~ .video {
  display: block;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video video {
  position: relative;
  border: 3px solid var(--text);
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#closeCheck {
  font-family: sans-serif;
  position: absolute;
  right: -8px;
  top: -8px;
  height: 30px;
  width: 30px;
  background-color: red;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  cursor: pointer;
  border-radius: 15px;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 2;
  display: none;
}

@media (max-width: 768px) {
  .video {
    top: 20% !important;
  }
}
:root {
  /*
  --text:white
  --button: #1E3E62;
  --btnShadow: #0B192C;
  --background: #FF6500
  */
  --text: #EEEEEE;
  --button: #31363F;
  --btnShadow: #222831;
  --background: #76ABAE ;
}

@font-face {
  font-family: "star";
  src: url("fonts/Starborn.woff2");
}
@font-face {
  font-family: "banana";
  src: url("fonts/bananaStick.woff2");
}
body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}/*# sourceMappingURL=portfolio.css.map */