@import '_general.scss';
@import '_aboutMe.scss';
@import '_projects.scss';
@import '_footer.scss';
@import '_video.scss';

:root {
    --button: #1E3E62;
    --btnShadow: #0B192C;
    --background: #FF6500
}

@font-face {
    font-family: "star";
    src: url("fonts/Starborn.woff2");
}

@font-face {
    font-family: "banana";
    src: url("fonts/bananaStick.woff2")
}

body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}